h1 {
    color: blue;
    font: 36px "Open Sans", sans-serif;
} 

h5 {
    color: green;
}

p {
    color: dodgerblue;
}

.row {
    display: flex;
    flex-direction: row;
}

.box1 {
    height: 120px;
    width: 120px;
    background-image: url('')
}

.dashed-border {
    border: dashed;
    border-color: black;
}

.box2 {
    height: 100px;
    width: 100px;
    background: pink;
}

.circle {
    border-radius: 85%;
}