h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: brown;
}
 
.pink {
    color: pink;
 
}

.border {
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.grey {
    background-image: url('https://www.shareicon.net/download/2015/09/08/97649_clouds.ico')
}

.box {
    width: 200px;
    height: 200px;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 85%;
}
.circle:hover {
    background: pink;
}